*
  margin: 0
  padding: 0
body
  max-width: 1200px
  margin: 0 auto
  font-family: 'Open Sans', sans-serif

.head
  min-height: 80px
  background-color: #9CC3FF
  border-bottom: 1px solid #415A80
  display: flex
  justify-content: space-around
  align-items: center
  &__link
    font-size: 40px
    font-weight: 400
    color: #415A80
    text-decoration: none
    text-transform: uppercase

  &__btn
    width: 100px
    height: 30px
    border: 1px solid #415A80
    outline: none
  &__search
    width: 200px
    height: 28px
    border: 1px solid #415A80
    line-height: 38px
    outline: none
    padding: 0 7px

.products
  display: flex
  padding: 40px
  justify-content: space-between
  flex-wrap: wrap
.product-item
  width: 150px
  border: 1px solid #415A80
  margin-bottom: 40px
  &__img
    border-bottom: 1px solid #415A80
  &__info
    display: flex
    flex-direction: column
    justify-content: space-between
    padding:  2px 10px 10px 10px
  &__title
    color: #415A80
  &__price
    color: #677180
.by-btn
  width: 130px
  height: 25px
  margin-top: 10px
  color: #415A80
  border: 1px solid #415A80